argo-cd:
  server:
    insecure: true
    extraArgs:
      - --insecure
      - --rootpath=/argo

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      hostname: private.lawea.foo
      path: /argo
      pathType: Prefix
      tls: false

  configs:
    rbac:
      policy.default: role:readonly
      scopes: "[profile,email]"
    cm:
      url: https://private.lawea.foo/argo
      admin.enabled: false
      dex.config: |
        connectors:
          - type: oidc
            id: google
            name: Google
            config:
              issuer: https://accounts.google.com
              clientID: ${DEX_CLIENT_ID}
              clientSecret: ${DEX_CLIENT_SECRET}
              redirectURI: https://private.lawea.foo/argo/api/dex/callback

  dex:
    enabled: true
    env:
      - name: DEX_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: argocd-oauth
            key: clientID
      - name: DEX_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: argocd-oauth
            key: clientSecret
